/* CSS VARIABLES */
:root {
  --base01: rgb(11, 21, 33);
  --base02: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16px;
}


/* ..................................... */
/* Particles js background */
#particles-js {
  /* background-image: url('https://images.wallpaperscraft.com/image/black_background_lines_scratches_69440_1920x1080.jpg'); */
  background-color: var(--base01);
  background-repeat: no-repeat;
  /* background-size: 1920px 720px; */

}



/* Side bar Navigation */
/* .................................. */

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgba(15, 28, 45, 0.7);
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(104, 104, 104, 0.3)
}


#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;


}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  background: #fff;
  margin: 3px 0px;
}


li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  width: 150px;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 1; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}


/* ................................... */
/* Header/Banner Container */

.particles-container {
  color: #f4f4f4;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  line-height: 0.4rem;
}

.particles-container h1{
  font-size: 80px;
}

.logoText {
  font-family: 'Orbitron', sans-serif;
  padding: 2rem;
  letter-spacing: 0.3rem;
}


.container1 {
  Height: 400px;
  background-color: var(--base02);
  color: #fff;

}

.operating-sys{
  background-color: red;
  padding: 20px 30px;
  width: 10px;

}